# LLM
GEMINI_API_KEY=AIzaSyAm0iJ-yAv_Od7QScEN9LNWSrZaSoQQ2BU
GEMINI_MODEL=gemini-2.5-pro  

# NCBI
NCBI_EMAIL=sarthak.joshi.00@gmail.com
NCBI_API_KEY=2ab595b57bc0b54c94854ac9f67bcc6db209

# General
LOG_LEVEL=INFO
MAX_WORKER_SECONDS=10
MAX_WORKER_MEMORY_MB=256